<div id="portfolio-info">
	<div class="wrapper">
		<div class="contents">
			<div class="intro">
				<div class="description">
					<div class="title">

					</div>
					<div class="date">

					</div>
					<div class="introduce">

					</div>
					<a class="close" href>
						<img src="public/img/close.png">
					</a>
				</div>
				<div class="cover">
					<img>
				</div>
			</div>
			<div class="screenshots">
				<ul class="list">

				</ul>
			</div>
			<div class="work">
				<div class="title">
					주요업무
				</div>
				<div class="description">

				</div>
			</div>
			<div class="range">
				<div class="title">
					참여범위
				</div>
				<div class="description">

				</div>
			</div>
			<div class="skills">
				<div class="title">
					사용기술
				</div>
				<div class="description">

				</div>
			</div>
		</div>
	</div>
</div>
