@mixin input-email-text{
  display: block;
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  margin: 7px 0 0 0;
  font-size: 14px;
  border: 1px solid #ccc;
}
@mixin description-default{
  font-size: 14px;
  color: #666;
  white-space: pre-line;
  line-height: 22px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', 'AppleSDGothic', '나눔고딕', 'Dotum', '돋움', sans-seri;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: black;
}
img{
  border: 0;
}
article,aside,canvas,details,figcaption,figure,footer,header,menu,nav,section,summary {
  display:block;
}

header{
  overflow: hidden;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #fff;
  position: fixed;
  background: rgba(255,255,255,.9);
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;

  .wrapper{
    max-width: 1024px;
    margin: 0 auto;

    .contents{
      width: 90%;
      margin: 0 auto;
      .title{
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 24px;
      }
      .nav-main{
        float: right;
        height: 50px;
        line-height: 50px;
        font-size: 14px;

        h2{
          display: none;
        }
        .nav-list{
          .item{
            display: inline-block;
            margin: 0 10px;

            &:hover{
              a{
                padding: 2px 0;
                border-bottom: 1px solid #999;
              }
            }
            &.active{
              a{
                padding: 2px 0;
                border-bottom: 1px solid #999;
              }
            }
          }
        }
      }
    }
  }
}

#about{
  padding: 51px 0 0 0;
  //width: 70%;
  margin: 0 auto;
  h2{
    display: none;
  }

  .wrapper{
    max-width: 1024px;
    margin: 0 auto;

    .contents{
      width: 90%;
      margin: 0 auto;

      .copy{
        @media screen and (min-width: 920px){
          padding: 13% 0 13% 12%;
        }
        @media screen and (max-width: 919px){
          padding: 13% 0;
        }
        //font-size: 80px;
        font-weight: bold;

        @media screen and (min-width: 860px){
          font-size: 80px;
        }

        @media screen and (min-width: 620px) and (max-width: 859px){
          font-size: 70px;
        }

        @media screen and (min-width: 495px) and (max-width: 619px){
          font-size: 60px;
        }

        @media screen and (min-width: 400px) and (max-width: 494px){
          font-size: 50px;
        }

        @media screen and (max-width: 399px){
          font-size: 37px;
        }
      }

      article{
        padding: 0 0 40px 0;
        overflow: hidden;
        &:last-child{
          padding: 0 0 7% 0;
        }
        .link-portfolio{
          color: #aaa;
        }

        @media screen and (min-width: 920px){
          .subject{
            float: left;
            width: 12%;
            font-weight: bold;
          }
          .contents{
            float: left;
            width: 88%;
            font-size: 14px;
            line-height: 30px;
            margin: -5px 0 0 0;
            color: #5a5a5a;
          }
        }
        @media screen and (max-width: 919px){
          .subject{
            font-weight: bold;
            padding: 0 0 4px 0;
          }
          .contents{
            width: 100%;
            font-size: 14px;
            line-height: 24px;
            color: #5a5a5a;
          }
        }

        &.education{
          .contents{
            .item{
              .college{
                font-weight: bold;
                color: #000;
                font-size: 15px;
              }
            }
          }
        }
        &.experience{
          .contents{
            .item{
              &:first-child{
                padding: 0 0 30px 0;
              }
              .company{
                font-weight: bold;
                color: #000;
                font-size: 15px;
              }
              .job{
                font-size: 12px;
                color: #858585;
              }
            }
          }
        }
        &.i-love{
          .contents{
            box-sizing: border-box;
            padding: 0 0 0 17px;
            .item{
              list-style: circle;
            }
          }
        }
        &.i-have{
          .contents{
            box-sizing: border-box;
            padding: 0 0 0 17px;
            .item{
              list-style: circle;

            }
          }
        }
        &.skills{
          .contents{
            box-sizing: border-box;
            padding: 0 0 0 17px;
            .item{
              list-style: circle;
            }
          }
        }


        h3{
          display: none;
        }
      }
    }
  }


}

#portfolio{
  h2{
    display: none;
  }
  .background{
    background: #fff;
    &.gray{
      background: #f4f4f4;
    }

    .wrapper{
      max-width: 1024px;
      margin: 0 auto;

      .contents{
        width: 90%;
        margin: 0 auto;
        padding: 7% 0;

        .company{
          padding: 0 0 20px 0;
          .name{
            font-weight: bold;
            font-size: 22px;
          }

          h3{
            display: none;
          }
        }

        .list{
          width: 100%;
          overflow: hidden;
          padding: 2px;
          h4{
            display: none;
          }

          .item{
            //width: 22%;
            float: left;
            //border: 1px solid #ccc;
            border-radius: 4px;
            padding: 4px;
            box-shadow: 0 0 4px #888;
            margin: 0 2.3% 2.3% 0;
            box-sizing: border-box;
            background: #fff;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;

            .thumb{
              overflow: hidden;
              position: relative;
              img{
                width: 100%;
                position: absolute;
                left: -100%;
                right: -100%;
                top: -100%;
                bottom: -100%;
                margin: auto;
                min-height: 100%;
                min-width: 100%;
              }
            }
            .description{
              font-size: 14px;
              color: #5a5a5a;
              padding: 8px;

              .title{
                font-weight: bold;
              }
            }

            @media screen and (min-width: 890px){
              width: 23.1%;
              &:nth-child(4n){
                margin: 0 0 2.3% 0;
              }
            }

            @media screen and (min-width: 620px) and (max-width: 889px){
              width: 31.7%;
              &:nth-child(3n){
                margin: 0 0 2.3% 0;
              }
            }

            @media screen and (min-width: 415px) and (max-width: 619px){
              width: 48.6%;
              &:nth-child(2n){
                margin: 0 0 2.3% 0;
              }
            }

            @media screen and (max-width: 414px){
              width: 100%;
              margin: 0 0 5.5% 0;
            }
          }
        }
      }
    }
  }
}

#contact{
  padding: 50px 0;
  color: #343434;
  h2{
    font-size: 20px;
  }
  .wrapper{
    max-width: 1024px;
    margin: 0 auto;

    .contents{
      width: 90%;
      margin: 0 auto;

      .sns{
        font-size: 14px;
        text-align: center;
        color: #777777;
        .item{
          display: inline-block;
          margin: 20px 10px;
          a{
            color: #343434;
          }

        }
      }

      .contact-me{
        font-size: 14px;
        text-align: center;
        color: #343434;

        .item{
          display: inline-block;
          margin: 10px 10px;
          a{
            color: #343434;
            text-decoration: underline;
          }

        }
      }

      #send-email{
        max-width: 300px;
        margin: 0 auto;
        label{
          margin: 15px 0 0 0;
          display: block;
          font-weight: bold;
        }

        #y-name{
          @include input-email-text;
        }
        #y-email{
          @include input-email-text;
        }
        #y-message{
          width: 100%;
          height: 100px;
          margin: 7px 0 0 0;
          padding: 5px;
          box-sizing: border-box;
          font-size: 14px;
          border: 1px solid #ccc;
          resize: none;
        }
        input[type=submit]{
          display: block;
          width: 85px;
          height: 35px;
          background: #FF4A4A;
          border: 1px solid red;
          color: #fff;
          margin: 7px auto 0;
          cursor: pointer;
          &:hover{
            background: #e94c4c;
          }
        }
      }
    }
  }
}





#portfolio-info{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(84,84,84,.5);
  //display: none;

  .wrapper{

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 101;
    max-width: 900px;

    @media screen and (min-width: 720px){
      height: 95%;
    }

    @media screen and (max-width: 719px){
      height: 100%;
    }
    margin: auto;


    .contents{
      background: #fff;
      @media screen and (min-width: 720px){
        width: 95%;
      }

      @media screen and (max-width: 719px){
        width: 100%;
      }
      height: 100%;
      margin: auto;
      box-shadow: 0 0 10px #545454;
      border-radius: 4px;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      padding: 20px;
      -webkit-overflow-scrolling: touch;

      .intro{
        overflow: hidden;

        .description{
          position: relative;
          @media screen and (min-width: 720px){
            float: left;
            width: 60%;
            margin: 20px;
          }

          @media screen and (max-width: 719px){
            //float: left;
            width: 100%;
          }


          .title{
            font-size: 22px;
            font-weight: bold;
            padding: 0 0 10px 0;

            .link{
              width: 25px;
              position: absolute;
              margin: 1px 0 0 7px;
              img{
                width: 100%;
              }
            }
          }
          .date{
            border-top: 1px solid #ccc;
            padding: 10px 0;
            font-size: 15px;
            color: #666;
          }
          .introduce{
            line-height: 22px;
            font-size: 14px;
            color: #666;
            white-space: pre-line;
          }
          .close{
            width: 32px;
            @media screen and (min-width: 720px){
              display: none;
            }

            @media screen and (max-width: 719px){
              display: block;
            }
            position: absolute;
            top: -2px;
            right: 0;
            z-index: 102;
            img{
              width: 100%;
            }
          }
        }
        .cover{
          float: left;
          @media screen and (min-width: 720px){
            width: calc(40% - 40px);
          }

          @media screen and (max-width: 719px){
            width: 100%;
            padding: 20px 0 0 0;
          }

          img{
            width: 100%;
          }
        }
      }
      .screenshots{
        padding: 20px 0;
        .list{
          overflow: hidden;

          .item{


            @media screen and (min-width: 720px){
              float: left;
              width: calc(50% - 10px);
              &:nth-child(2n+1){
                margin: 0 20px 15px 0;
              }
            }

            @media screen and (max-width: 719px){
              width: 100%;
              padding: 0 0 20px 0;
            }

            img{
              width: 100%;
            }
          }
        }
      }
      .work{
        .title{
          font-weight: bold;
        }
        .description{
          padding: 5px 0 0 0;
          @include description-default;
        }
      }
      .range{
        padding: 20px 0 0 0;
        .title{
          font-weight: bold;
        }
        .description{
          padding: 5px 0 0 0;
          @include description-default;
        }
      }
      .skills{
        padding: 20px 0 0 0;
        .title{
          font-weight: bold;
        }
        .description{
          padding: 5px 0 0 0;
          @include description-default;
        }
      }
    }
  }
}

.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.delay-1{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.delay-1-2{
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.delay-1-4{
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}
.delay-1-6{
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}
.delay-1-8{
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}
.delay-2{
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.delay-2-2{
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}
.delay-2-4{
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}


@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}


@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
